
// Toggling Visibility with React & Tachyons

import React from 'react';

const showClasses = 'db', hideClasses = 'dn';

class Toggle extends React.component {

  constructor(){
    this.state = { showArticle: true };
  }
  
  render(){
    const { showArticle } = this.state;
    return (
      <div>
        <button onClick={()=>{ this.setState({ showArticle: !showArticle})}} />
        <article class=`pa3 pa5-ns ${showArticle ? showClasses : hideClasses}`>
          <h1 class="">Title</h1>
          <p class="measure lh-copy">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
            tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
          </p>
        </article>
      </div>
    )
  }

}
